.head {
    margin: 0;
    padding: 30px 0;
    font-family: sans-serif;
}

.head_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.head_inner_left {
    margin: 0;
    padding: 0;
}

.head_inner_left_link {
    margin: 0;
    padding: 0;
}

.head_inner_center {
    margin: 0;
    padding: 0;
}

.head_inner_center_list {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.head_inner_center_list_item {
    margin: 0;
    padding: 0;
}

.head_inner_center_list_item_link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.head_inner_right {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.head_inner_right_left_link {
    text-decoration: none;
    color: rgb(1, 157, 1);
    background-color: rgb(247, 247, 247);
    border-radius: 50px;
    font-size: 16px;
    margin: 0;
    padding: 15px 20px;
}

.head_inner_right_right_link {
    background-color: rgb(1, 157, 1);
    color: rgb(247, 247, 247);
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    margin: 0;
    padding: 13px 30px;
}